.navbarContainer {
    color: white;
    background-color: $black;
    display: flex;
    align-items: center;
}

.swiper-slide {
    opacity: 0;
}

.swiper-slide-prev,
.swiper-slide-active,
.swiper-slide-next {
    opacity: 1;
}


.tab {
    color: inherit;
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-list {
        list-style: none;
        display: flex;
        gap: 4em;
        padding: 0;
        margin: 0;
    }
}

.logo-container {
    margin-right: 96px;
    width: 122px;
}

.items {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 45px 0 45px 64px;
}

.logo-img {
    width: 100%;
    height: 100%;
}

.tab-font {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}

.remainder-container {
    margin: 37px 64px 37px auto;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.remainder-wrapper {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}

.wallet {
    background-color: $red;
}

.wallet-icon {
    margin: 10px 10.67px;
}

.remainder {
    background-color: $light_black;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    padding: 8px 21px 8px;
}

.rectangle {
    width: 48px;
    height: 4px;
    background-color: $red;
    margin-top: 4px;
}