.voice-call-avatar {
    flex: 2;
    @extend %justify-content-center;
    @extend %display-flex;
    @extend %flex-column;
    @extend %align-items-center;

    .call-avatar {
        width: 150px;
        height: 150px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: $__white;
        @include margin-padding(3px, 3px);
        @include rounded(100%);

        .username {
            font-size: $__font__size__18;
            text-transform: $__uppercase;
        }

        .call-timing-count {
            @include margin-padding(null, 5px);
        }

        @include respond-below(custom768) {
            width: 120px;
            height: 120px;
        }
    }
}

.call-users {
    z-index: 99;
    @include position($__absolute, null, 20px, 20px, null);

    ul {
        @extend %ul_reset;

        li {
            float: $__left;
            width: 80px;
            margin-left: 10px;

            img {
                background-color: $__white;
                border: 1px solid rgba(0, 0, 0, 0.1);
                @include rounded(6px);
                @include margin-padding(null, 2px);
            }

            .call-mute {
                width: 80px;
                height: 80px;
                background-color: rgba(0, 0, 0, 0.5);
                text-align: $__center;
                line-height: 80px;
                font-size: $__font__size__30;
                color: $__white;
                display: $__none;
                border: 3px solid $__transparent;
                @include rounded(6px);
                @include position($__absolute, 0, null, null, null);
            }

            a {
                &:hover {
                    .call-mute {
                        display: $__block;
                    }
                }
            }
        }
    }
}

.call-icons {
    text-align: $__center;
    position: $__relative;
    display: $__flex;
    justify-content: space-between;
    align-items: $__center;

    @include respond-below(custom575) {
        display: $__flex;
        justify-content: space-around;
    }

    .call-items {
        display: $__flex;
        @extend %ul_reset;
        @include rounded(5px);
        justify-content: $__center;
        align-items: $__center;

        .call-item {
            display: $__inline__block;
            text-align: $__center;
            margin-right: 5px;

            .call-mute {
                background-color: $__cherry__red;
                text-align: $__center;
                color: $__white;
            }

            a {
                color: $__dark__battle__gary;
                border: 1px solid $__light__goose;
                width: 50px;
                height: 50px;
                line-height: 50px;
                display: $__inline__block;
                font-size: $__font__size__20;
                @include rounded(50px);

                svg {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .end-call {
        // @include position($__absolute, 7px, 0, null, null);

        

        div {
            background-color: $__cherry__red;
            color: $__white;
            display: $__flex;
            align-items: $__center;
            line-height: 10px;
            @include margin-padding(null, 8px 25px);
            @include rounded(50px);
            cursor: pointer;
            justify-content: $__center;;
            .button-text {
                font-weight: $__medium;
                text-align: $__center;

                @include respond-below(custom575) {
                    font-size: small;
                    @include margin-padding(null, 0px 0px 0px 7px);
                }
            }
        }
    }

    .call-container {
        display: $__flex;
        align-items: $__center;

        @include respond-below(custom575) {
            flex-direction: column;
        }
        .group-buttons{
            @include respond-below(custom575) {
               width: 100%;
             
            }
        }
        .begin-call {
            @extend .end-call;
            @include margin-padding(0 0 0 5px, null);
            @include respond-below(custom575) {
                @include margin-padding(25px 0 0 0, null);
              
             }
            div {
                background-color: $__call__green;
                display: flex;
                text-transform: none;
                @extend %align-items-center;

            }
        }
    }
}

.chat-sidebar {
    .chats {
        @include margin-padding(null, 15px 15px 30px);
    }

    .chat-left {
        .chat-avatar {
            float: $__left;

            .avatar {
                width: 30px;
                height: 30px;
                line-height: 30px;
            }
        }

        .chat-body {
            @include margin-padding(0 0 0 50px, 0);
        }
    }
}

.user-video {
    overflow: $__auto;
    z-index: 10;
    @include position($__absolute, 0, 0, 0, 0);

    .calling-container {
        @extend %display-flex;
        @extend %align-items-center;
        @extend %justify-content-center;
        flex-direction: column;
        height: 100%;

        .call-profile-img {
            padding: 30px;
            position: $__relative;
            text-align: $__center;

            .wrap-profile-img {
                height: 90px;
                margin: 0 $__auto;
                position: $__relative;
                width: 90px;

                img {
                    height: $__auto;
                    margin: 0;
                    width: 75%;
                    @include rounded(50%);
                }

                .change-img {
                    background-color: rgba(0, 0, 0, 0.3);
                    color: $__white;
                    display: $__none;
                    height: $__full__height;
                    line-height: 120px;
                    width: $__full__width;
                    @include position($__absolute, 0, null, null, 0);
                    @include rounded(50%);
                }
            }
        }
    }

    .calling {
        @extend %display-flex;
        @extend %align-items-center;
        @extend %justify-content-center;
        position: relative;
        background-color: $__call__green;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        animation: calling 2s linear infinite;
    }
}

.my-video {
    z-index: 99;
    @include position($__absolute, 10%, 10%, 10%, 10%);
    width: 80%;
    height: 80%;
    @extend %display-flex;
    @extend %align-items-center;
    @extend %justify-content-center;
    transition-duration: 1s;

    img {
        border: 3px solid $__white;
        @include rounded(6px);
        height: 100%
    }
}

.my-video-small {
    @extend.my-video;
    @include position(null, unset, 2%, 3%, unset);
    width: 25%;
    height: 30%;
}

.call-box {
    display: $__block;
    background: $__primarycolor;
    background: linear-gradient(to $__right, $__primarycolor 0%, $__light__chilli__pepper 100%);
    position: $__sticky;
    top: 0;
    z-index: 99;
    overflow-y: $__auto;
    overflow-x: $__hidden;

    &.incoming-box {

        .call-end,
        .call-start {
            margin: 0 10px !important;
        }
    }

    .call-avatar {
        height: 150px;
        max-width: 150px;
        min-width: 150px;
        position: $__relative;
        width: $__full__width;
        @include rounded(100%);
    }

    .call-wrapper {
        height: calc(100vh - 60px);
        text-align: $__center;
        @extend %display-flex;
        @extend %align-items-center;
        @extend %justify-content-center;

        .call-user {
            margin-bottom: 50px;

            h4 {
                color: $__white;
            }

            .call-box .call-wrapper .call-user span {
                display: $__block;
                color: $__white;
                font-weight: $__medium;
                text-align: $__center;
            }
        }

        .call-avatar {
            cursor: $__pointer;
            animation: ripple 2s infinite;
            @include margin-padding(0 0 50px, null);
            @include rounded(50%);
        }

        .call-items {
            @extend %display-flex;
            @extend %align-items-center;
            @extend %justify-content-center;

            .call-item {
                background-color: rgba(255, 255, 255, 0.2);
                border: 1px solid $__transparent;
                color: $__white;
                line-height: 0;
                @include margin-padding(0 5px, 15px);
                @include rounded(100%);

                @include respond-below(custom575) {
                    @include margin-padding(null, 10px);
                }

                &.call-start {
                    background: $__successcolor;
                    border: 1px solid $__successcolor;
                    color: $__white;
                    line-height: 0;
                    @include margin-padding(30px 20px 0, 20px);
                    @include rounded(100%);

                    @include respond-below(custom575) {
                        @include margin-padding(null, 10px);
                    }
                }

                &:first-child {
                    margin-top: -30px;
                }

                &.call-end {
                    background: $__cherry__red;
                    border: 1px solid $__cherry__red;
                    color: $__white;
                    line-height: 0;
                    @include margin-padding(30px 20px 0, 20px);
                    @include rounded(100%);

                    @include respond-below(custom575) {
                        @include margin-padding(0 10px, 10px);
                    }
                }

                &:last-child {
                    margin-top: -30px;
                }
            }
        }
    }
}

.leave-delete-btn {
    font-weight: $__medium;
    min-height: 30px;
    @include margin-padding(0 10px 0 0, 2px 15px);
}

.hide {
    display: none;
}

.show {
    display: block;
}

.remote-mic{
    @include position($__absolute, 35px, 0, null, 0);
    width: 8vh;
    z-index: 1;
    padding: 5px;
    border: 1px solid #0000002e;
    background-color: #ffffff4d;
    @include rounded(15px);
    margin: 0 auto;
    opacity: 0.5;
}
@-webkit-keyframes ripple {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    }

    100% {
        -webkit-box-shadow: 0 0 0 50px rgba(0, 0, 0, 0);
    }
}

@keyframes ripple {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    }

    100% {
        -moz-box-shadow: 0 0 0 50px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 50px rgba(0, 0, 0, 0);
    }
}

@keyframes calling {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 173, 0, 0.7), 0 0 0 0 rgba(0, 173, 0, 0.7);
    }

    40% {
        box-shadow: 0 0 0 50px rgba(0, 173, 0, 0), 0 0 0 0 rgba(0, 173, 0, 0.7);
    }

    80% {
        box-shadow: 0 0 0 50px rgba(0, 173, 0, 0), 0 0 0 30px rgba(0, 173, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 173, 0, 0), 0 0 0 30px rgba(0, 173, 0, 0);
    }
}