.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: absolute;
    top: 40%;
    right: 50%;
  }
  
  .spinner-inner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid #236bfe;
    border-top-color: $__white;
    animation: spinner-rotate 1s infinite linear;
  }
  
  @keyframes spinner-rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }